@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* dark scroll bars */
  /* color-scheme: dark; */
}

.custom-list li {
  left: 2.5em;
  list-style-type: none;
  position: relative;
}

.custom-list li::before {
  content: '•';
  scale: 1.4;
  position: absolute;
  left: -2.05em;
}
.violetLi li::before {
  color: #65253f;
}
.brownLi li::before {
  color: #5e3531;
}

.custom-listNumber li {
  font-weight: 700;
  left: 2.52em;
  position: relative;
  counter-increment: listNumber;
}

.custom-listNumber li::before {
  content: counter(listNumber) '.';
  position: absolute;
  left: -2em;
}
